.extension-controls {
  position: absolute;
  display: flex;
  width: 120px;
  right: 20px;
  top: 100px;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.top-container,
.bottom-container {
  display: flex;
  cursor: pointer;
  color: #eae1df;
  z-index: 16;
}

.extension-button {
  display: inline-block;
  height: 45px;
  width: 30px;
  flex: 1;
  border: none;
  color: #eae1df;
  cursor: pointer;
}

.extension-display {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  font-size: 2em;
  background-color: #545e56;
  color: #eae1df;
  height: 45px;
}

.extension-button:hover {
  opacity: 0.9;
}

#back-button {
  background-color: #917c78;
}

#up-button {
  background-color: #667761;
}

#down-button {
  background-color: #b79492;
}
