.extension-controls {
  position: absolute;
  display: flex;
  left: 0px;
  top: 0px;
  width: 120px;
  height: 25px;
}

.extension-button {
  display: inline-block;
  z-index: 16;
  height: 25px;
  width: 30px;
  border: 0;
  color: #EAE1DF;
  cursor: pointer;
}

.extension-display {
  background-color: #545E56;
  color: #EAE1DF;
  display: inline-block;
  height: 25px;
  width: 30px;
  margin: 0 auto;
  text-align: center;
  line-height: 25px;
  z-index: 15;
}

.extension-button:hover {
  opacity: 0.9;
}

#back-button {
  background-color: #917C78;
}

#up-button {
  background-color: #667761;
}

#down-button {
  background-color: #B79492;
}